html {
    background-size: 100vw, 100vh;
}

body {
    background-image: linear-gradient(625deg, #30cfd0 0%, #422468 100%);
    background-attachment: fixed;
    font-family: 'Dosis', sans-serif;
}

.container  {
    width: 90%;
    margin: auto;

}

.container .grupo {
    text-align: center;
    background: linear-gradient(-45deg, #1325cc, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
	animation: gradient 6s ease infinite;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




.container p,
.container div {
    text-align: center;
}

.container span {
    display: block;
    text-align: center;
}

.container a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: cornsilk;
    background: rgba(53, 95, 150, 0.39);
    border-radius: 10px;
    width: 200px;
    margin: auto;
    padding: 10px 10px;
    margin-top: 10px;
    margin-bottom: 25px;
    transition: 300ms;
    position: absolute;
    left: 42%;
}

.container a:hover {
    transition: 500ms ease-in;
    background: rgba(53, 150, 142, 0.623);
    color: black;
}

.container img {
    display: block;
    margin: auto;
}

@keyframes gradient {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
  
