body {
    background-image: linear-gradient(to top, #30cfd0 0%, #422468 100%);
    background-size: 100vw, 100vh;
    background-attachment: fixed;
}

.container  {
    width: 90%;
    margin: auto;

}

.container .grupo {
    text-align: center;
}

.container p,
.container div {
    text-align: center;
}

.container span {
    display: block;
    text-align: center;
}

.container a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: cornsilk;
    background: rgba(53, 95, 150, 0.39);
    border-radius: 10px;
    width: 200px;
    margin: auto;
    padding: 10px 10px;
    margin-top: 10px;
    margin-bottom: 25px;
    transition: 300ms;
    position: absolute;
    left: 42%;
}

.container a:hover {
    transition: 500ms ease-in;
    background: rgba(53, 150, 142, 0.623);
    color: black;
}

.container img {
    display: block;
    margin: auto;
}